<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jluzh.admin.mapper.UmsRoleOperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jluzh.admin.model.UmsRoleOperation">
        <id column="role_id" property="roleId" />
        <result column="add" property="add" />
        <result column="edit" property="edit" />
        <result column="delete" property="delete" />
        <result column="find" property="find" />
    </resultMap>

</mapper>
